.products-container {
    padding: 30px 0;
    gap: 10px;
}

.card {
   
    padding: 15px;
}

p i {
    margin-left: 10px;
}

.carousel-item {
    height: 500px;
}

html{
    scroll-behavior: smooth;
}